/* 导航栏的css */
.nav{
    display: flex;
    align-items: center;
    height: 73px;
    /* background-color: lightgreen; */
    width: 1200px;
    margin: 0 auto;
    /* line-height: 73px; */

}
.nav .logo{
    /* margin: auto 0; */
    width: 100px;
    height: 35px;
    /* padding: auto 0; */
}
.nav .logo img{
    width: 100px;
    height: 35px;
}
.nav .zhengzhou span:first-of-type{
    margin: 0 0 0 30px;
}
.nav .texts span{
    margin: 0 0 0 20px;
}

/* 导航栏的“首页” */
.nav .texts span:first-of-type{
    color: rgb(203, 147, 42);
    font-weight:900;
    padding: 0 0 8px 0;
    border-bottom: 3px solid ;
    /* text-decoration: underline;
    text-decoration-color: red; */
}
/* 鼠标划上就会变橙色 */
.nav .texts span.orange{
    color: rgb(203, 147, 42);
}

.nav .search{
    display: flex;
    margin: 0 0 0 250px;
    height: 32px;
    border: 1px solid black;
}

.nav .search:focus-within{
    border: 1px solid orange;
}

.nav .search input{
    height: 30px;
    border: none;
    outline: none;
}
.nav .search span{
    display: flex;
    align-items: center;
    width: 24px;
    height: 30px;
    background-color: orange;
    margin: 0 0 0 -1px;

}


