/* 直播公开课 向下*/
.middle .m23{
    padding: 0;
    box-sizing: border-box;
    height: 365px;
    margin: 40px 0 0 0 ;
    /* background-color: lightcoral; */
}
.middle .m23 .m23-text span{
    font-size: 30px;
}


.middle .m23 .m23t-wrap{
    height: 40px;
    /* background-color: blueviolet; */
    line-height: 40px;
    margin: 10px 0;

}
.middle .m23 .m23t-wrap div{
    margin: 0 10px 0 0;
    padding: 0 60px;
    background-color: #ece0ce;
    border-radius: 10px;
}
.middle .m23 .m23t-wrap div:hover{
    background-color: red;
}




.middle .m23 .m23-1{
    border-radius: 10px;
    width: 291px;
    height: 315px;
    margin-top: 10px;
    /* background-color: cadetblue; */
    background-color: #fff;
}
.middle .m23 .m23-1 img{
    width: 291px;
    height: 164px;
    border-radius: 10px;

}
.middle .m23 .m23-1 span{
    margin: 5px ;
}
.middle .m23 .m23-1 span:nth-of-type(2){
    margin: 5px 0 45px 5px;
}
.middle .m23 .m23-1 span:last-of-type,
.middle .m23 .m23-1 span:nth-of-type(1){
    font-size: 13px;
}


/* 复制份 */

.middle .m23 .m23-12{
    border-radius: 10px;
    width: 291px;
    height: 315px;
    margin-top: 10px;
    /* background-color: cadetblue; */
    background-color: #fff;
}
.middle .m23 .m23-12 img{
    width: 291px;
    height: 164px;
    border-radius: 10px;

}
.middle .m23 .m23-12 span{
    margin: 5px ;
}
.middle .m23 .m23-12 span:nth-of-type(2){
    margin: 5px 0 45px 5px;
}
.middle .m23 .m23-12 span:last-of-type,
.middle .m23 .m23-12 span:nth-of-type(1){
    font-size: 13px;
}

/* 复制份 123*/

.middle .m23 .m23-123{
    border-radius: 10px;
    width: 291px;
    height: 315px;
    margin-top: 10px;
    /* background-color: cadetblue; */
    background-color: #fff;
}
.middle .m23 .m23-123 img{
    width: 291px;
    height: 164px;
    border-radius: 10px;

}
.middle .m23 .m23-123 span{
    margin: 5px ;
}
.middle .m23 .m23-123 span:nth-of-type(2){
    margin: 5px 0 45px 5px;
}
.middle .m23 .m23-123 span:last-of-type,
.middle .m23 .m23-123 span:nth-of-type(1){
    font-size: 13px;
}

.middle .m23>div{
    margin-right: 10px;
}


/* 直播公开课 向上*/







/* 中部最下面两张图 */


.middle .m-last .m-last1{
    margin: 80px 10px 0 0;

}
